.social-links {
    display: inline-block;
    height: 1.5vw;
    width: 1.5vw;
    background-color: var(--peach);
    padding: 1.5vw;
    border-radius: 50%;
    text-align: center;
    object-fit: contain;
    align-items: center;
}

.social-links:hover {
    background-color: var(--pink);
}

.social-links img {
    display: inline-block;
    object-fit: contain;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
}
.social-nav img {
    align-items: center;
}